html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  margin-bottom: 371px;
  background-color: rgb(233,236,239);
  font-family: 'Rock Salt', cursive;
}

.jumbotron-fluid {
  color: white;
  padding: 4%;
  border-bottom: 3px solid rgb(247,41,103);
  padding-bottom: 3%;
  background-color: rgb(5,133,123);
  width: 100%;
  margin-bottom: 50px;
  background-image: url();
}

h1 {
  text-shadow: 3px 3px 0px black;
  font-size: 60px;
  font-family: 'Rock Salt', cursive;
}

.card {
  color: black;
  text-align: center;
  border: 3px solid rgb(247,41,103);
  background-color: rgb(192,192,182);
}

.btn-jumbo {
  background-color: rgb(192,192,182);
  color: black;
  width: 150px;
  margin-top: 20px;
}

.player-btn {
  background-color: rgb(31,25,47);
  color: white;
}

.collapse {
  margin-bottom: 10px;
}

#loop {
  border-radius: 50%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#instructions {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 650px;
  margin-top:10%;
}

.frame {
  border: 3px solid rgb(247,41,103);
  margin-top: 10%;

}

#footer {
  border-top: 3px solid rgb(247,41,103);
  background-color: #343a40;
  color: white;
  width: 100%;
  position: absolute;
  padding-top: 1%;
  bottom: -371px;
  left: 0;
  text-align: center;
}

.copy {
  font-family: serif;
}

@media (max-width: 480px) {
  #footer {
    bottom: -1000px;
  }
  body {

  }
  h1 {
    font-size: 32px;
  }
  #logo {
    min-width: 350px;
  }
  #instructions {
    max-width: 190px;
  }
  .btn-jumbo {
    font-size: 16px;
  }


}

@media (max-width: 768px) {
  #footer {
    bottom: -800px;
  }

}
