html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  margin-bottom: 371px;
  background-color: rgb(51,38,19);
}

.jumbotron-fluid {
  color: white;
  padding: 4%;
  border-bottom: 3px solid rgb(245,113,18);
  padding-bottom: 3%;
  background-color: rgb(5,133,123);
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  text-shadow: 3px 3px 0px rgb(245,113,18);
  font-size: 65px;
}

.card {
  color: black;
  text-align: center;
  border: 3px solid rgb(5,133,123);
}

.btn-jumbo {
  background-color: rgb(245,113,18);
  color: white;
  width: 150px;
}

.player-btn {
  background-color: rgb(245,113,18);
  color: white;
}

#instructions {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 650px;
  margin-top:10%;
}

#footer {
  border-top: 3px solid rgb(245,113,18);
  background-color: #343a40;
  color: white;
  width: 100%;
  position: absolute;
  padding-top: 1%;
  bottom: -371px;
  left: 0;
  text-align: center;
}

@media (max-width: 480px) {
  #footer {
    bottom: -1000px;
  }
  h1 {
    font-size: 32px;
  }
  #logo {
    min-width: 350px;
  }
  #instructions {
    max-width: 190px;
  }


}

@media (max-width: 768px) {
  #footer {
    bottom: -800px;
  }

}
